# SQL Adhoc Analysis

# Business Scenario: Annual Strategic Planning for Hotel Chain
## Context:
The senior management team of a renowned hotel chain, Taj Hotels, is preparing for their annual strategic planning meeting. The goal is to review the performance metrics of the past year and develop strategies to enhance revenue, optimize bookings, and improve overall guest satisfaction for the upcoming year.

## Data Requirements:
To inform their decision-making, the team has requested detailed analysis and insights on various performance metrics across their hotel properties and cities. The key results needed are:

### Total Revenue Generated per Hotel:
Scenario: The CFO wants to identify the top-performing hotels in terms of revenue to allocate more resources and marketing efforts to these properties. Conversely, they aim to identify underperforming hotels to investigate potential issues and areas for improvement.

### Total Revenue Generated per City:
Scenario: The VP of Operations needs to understand the revenue performance across different cities to make informed decisions about potential expansions, city-specific marketing campaigns, and resource allocation.

### Total Bookings per Hotel and City:
Scenario: The Head of Sales and Marketing plans to analyze booking patterns to optimize promotional efforts. Understanding which hotels and cities have the highest demand will help in tailoring marketing strategies and special offers.

### Realization Percentage per Hotel:
Scenario: The Revenue Manager seeks to assess the efficiency of booking realizations across hotels. Hotels with higher realization percentages indicate effective booking management, while those with lower percentages may require process improvements.

### Cancellation Percentage per Hotel:
Scenario: The Customer Experience Director is concerned about high cancellation rates. By identifying hotels with the highest cancellation percentages, the team can investigate reasons (e.g., booking policies, customer satisfaction) and implement measures to reduce cancellations.

### No Show Rate Percentage per Hotel:
Scenario: The Operations Manager needs to address no-show rates to minimize revenue loss and optimize room inventory management. Hotels with high no-show rates will be targeted for policy adjustments and enhanced guest communication.

### Average Guests per Successful Booking:
Scenario: The Marketing Analytics team wants to understand guest behavior and booking trends. Consistency in the average number of guests per booking across hotels and cities can inform room inventory planning and targeted marketing campaigns.

### Average Revenue per Platform:
Scenario: The E-commerce Director aims to evaluate the performance of different booking platforms. Identifying which platforms generate the highest revenue will guide future investments in online partnerships and platform enhancements.

## Postgres connection

In [2]:
%load_ext sql

In [3]:
import os

In [4]:
host = ""
dbname = ""
user = ""
password = ""

In [5]:
connection_string = f"postgresql://{user}:{password}@{host}/{dbname}"

In [6]:
connection_string

'postgresql://postgres:admin@localhost/Hospitality_Taj'

In [7]:
%sql $connection_string

## Total Revenue Generated per Hotel

In [7]:
%%sql

SELECT 
    h.property_name,
    SUM(b.revenue_realized) AS total_revenue
FROM 
    fact_bookings b
JOIN 
    dim_hotels h ON b.property_id = h.property_id
GROUP BY 
    h.property_name
ORDER BY 
    total_revenue DESC;

 * postgresql://postgres:***@localhost/Hospitality_Taj
7 rows affected.

[(' Taj Exotica', 320312468),
 (' Taj Palace', 304081863),
 (' Taj City', 285811939),
 (' Taj Blu', 260855522),
 (' Taj Bay', 260051178),
 (' Taj Grands', 211532764),
 (' Taj Seasons', 66125495)]

## Total Revenue Generated per City

In [30]:
%%sql

SELECT 
    h.city,
    SUM(b.revenue_realized) AS total_revenue
FROM 
    fact_bookings b
JOIN 
    dim_hotels h ON b.property_id = h.property_id
GROUP BY 
    h.city
ORDER BY 
    total_revenue DESC;

 * postgresql://postgres:***@localhost/Hospitality_Taj
4 rows affected.

[('Mumbai', 668640991),
 ('Bangalore', 420397050),
 ('Hyderabad', 325232870),
 ('Delhi', 294500318)]

## Calculation of total bookings for each hotel within the city, and the grand total.

In [38]:
%%sql


SELECT 
    h.city,
    h.property_name,
    COUNT(b.booking_id) AS total_bookings
FROM 
    fact_bookings b
JOIN 
    dim_hotels h ON b.property_id = h.property_id
GROUP BY 
    ROLLUP(h.city, h.property_name)
ORDER BY 
    total_bookings desc;

 * postgresql://postgres:***@localhost/Hospitality_Taj
29 rows affected.

[(None, None, 134590),
 ('Mumbai', None, 43455),
 ('Hyderabad', None, 34888),
 ('Bangalore', None, 32016),
 ('Delhi', None, 24231),
 ('Mumbai', ' Taj Exotica', 13480),
 ('Hyderabad', ' Taj Bay', 7333),
 ('Delhi', ' Taj Palace', 7147),
 ('Hyderabad', ' Taj City', 6638),
 ('Hyderabad', ' Taj Blu', 6458),
 ('Mumbai', ' Taj Palace', 6337),
 ('Mumbai', ' Taj City', 6013),
 ('Bangalore', ' Taj City', 5979),
 ('Bangalore', ' Taj Bay', 5812),
 ('Bangalore', ' Taj Blu', 5736),
 ('Bangalore', ' Taj Palace', 5413),
 ('Hyderabad', ' Taj Exotica', 5256),
 ('Mumbai', ' Taj Blu', 5183),
 ('Mumbai', ' Taj Grands', 5036),
 ('Delhi', ' Taj Bay', 4820),
 ('Hyderabad', ' Taj Palace', 4728),
 ('Bangalore', ' Taj Exotica', 4705),
 ('Delhi', ' Taj City', 4693),
 ('Hyderabad', ' Taj Grands', 4475),
 ('Delhi', ' Taj Blu', 4418),
 ('Bangalore', ' Taj Grands', 4371),
 ('Mumbai', ' Taj Seasons', 3982),
 ('Mumbai', ' Taj Bay', 3424),
 ('Delhi', ' Taj Grands', 3153)]

## Calculation of Realisation Percentage for Each Hotel

In [25]:
%%sql

SELECT 
    h.property_name,
    h.city,
    ROUND((1 - (
        (CAST(SUM(CASE WHEN b.booking_status = 'Cancelled' THEN 1 ELSE 0 END) AS DECIMAL) / COUNT(b.booking_id)) + 
        (CAST(SUM(CASE WHEN b.booking_status = 'No show' THEN 1 ELSE 0 END) AS DECIMAL) / COUNT(b.booking_id))
    ))*100,2)  AS realisation_percentage
FROM 
    fact_bookings b
JOIN 
    dim_hotels h ON b.property_id = h.property_id
GROUP BY 
    h.property_name, h.city
ORDER BY 
    realisation_percentage DESC;

 * postgresql://postgres:***@localhost/Hospitality_Taj
24 rows affected.

[(' Taj City', 'Hyderabad', Decimal('75.97')),
 (' Taj City', 'Delhi', Decimal('75.88')),
 (' Taj Blu', 'Hyderabad', Decimal('75.83')),
 (' Taj Bay', 'Bangalore', Decimal('75.67')),
 (' Taj Exotica', 'Mumbai', Decimal('75.66')),
 (' Taj Exotica', 'Hyderabad', Decimal('75.65')),
 (' Taj Palace', 'Mumbai', Decimal('75.62')),
 (' Taj Exotica', 'Bangalore', Decimal('75.52')),
 (' Taj Blu', 'Mumbai', Decimal('75.48')),
 (' Taj Grands', 'Bangalore', Decimal('75.45')),
 (' Taj Blu', 'Bangalore', Decimal('75.35')),
 (' Taj Bay', 'Hyderabad', Decimal('75.30')),
 (' Taj Seasons', 'Mumbai', Decimal('75.21')),
 (' Taj Grands', 'Hyderabad', Decimal('75.02')),
 (' Taj Grands', 'Delhi', Decimal('74.94')),
 (' Taj City', 'Mumbai', Decimal('74.94')),
 (' Taj Palace', 'Delhi', Decimal('74.74')),
 (' Taj Bay', 'Delhi', Decimal('74.73')),
 (' Taj Palace', 'Bangalore', Decimal('74.65')),
 (' Taj Bay', 'Mumbai', Decimal('74.56')),
 (' Taj Blu', 'Delhi', Decimal('74.49')),
 (' Taj Grands', 'Mumbai', Decimal('74.34')),
 (' Taj Palace', 'Hyderabad', Decimal('74.05')),
 (' Taj City', 'Bangalore', Decimal('73.62'))]

## Calculation of cancellation Percentage for Each Hotel

In [15]:
%%sql

SELECT 
    h.property_name,
    ROUND((CAST(SUM(CASE WHEN b.booking_status = 'Cancelled' THEN 1 ELSE 0 END) AS DECIMAL) /
     COUNT(b.booking_id)) * 100,2) AS cancellation_percentage
FROM 
    fact_bookings b
JOIN 
    dim_hotels h ON b.property_id = h.property_id
GROUP BY 
    h.property_name
ORDER BY 
    cancellation_percentage DESC;

 * postgresql://postgres:***@localhost/Hospitality_Taj
7 rows affected.

[(' Taj Palace', Decimal('25.18')),
 (' Taj Grands', Decimal('25.08')),
 (' Taj City', Decimal('24.92')),
 (' Taj Bay', Decimal('24.84')),
 (' Taj Seasons', Decimal('24.79')),
 (' Taj Blu', Decimal('24.65')),
 (' Taj Exotica', Decimal('24.37'))]

## Calculation of no show rate Percentage for Each Hotel

In [28]:
%%sql

SELECT 
    h.property_name,
    ROUND((CAST(SUM(CASE WHEN b.booking_status = 'No Show' THEN 1 ELSE 0 END) AS DECIMAL) / 
     COUNT(b.booking_id)) * 100,2) AS no_show_rate_percentage
FROM 
    fact_bookings b
JOIN 
    dim_hotels h ON b.property_id = h.property_id
GROUP BY 
    h.property_name
ORDER BY 
    no_show_rate_percentage DESC;

 * postgresql://postgres:***@localhost/Hospitality_Taj
7 rows affected.

[(' Taj Blu', Decimal('5.30')),
 (' Taj Bay', Decimal('5.19')),
 (' Taj Exotica', Decimal('5.00')),
 (' Taj Grands', Decimal('4.98')),
 (' Taj City', Decimal('4.92')),
 (' Taj Palace', Decimal('4.84')),
 (' Taj Seasons', Decimal('4.62'))]

## Calculation of avg guests per successful booking

In [14]:
%%sql

SELECT 
    h.property_name,
    h.city,
    ROUND(AVG(num_guests_per_successful_booking),0) AS avg_guests_per_successful_booking
FROM 
    (
        SELECT 
            b.property_id,
            b.booking_id,
            b.no_guests AS num_guests_per_successful_booking
        FROM 
            fact_bookings b
        WHERE 
            b.booking_status = 'Checked Out'
    ) AS successful_bookings
JOIN 
    dim_hotels h ON successful_bookings.property_id = h.property_id
GROUP BY 
    h.property_name, h.city
ORDER BY 
    avg_guests_per_successful_booking DESC;

 * postgresql://postgres:***@localhost/Hospitality_Taj
24 rows affected.

[(' Taj Bay', 'Bangalore', Decimal('2')),
 (' Taj Bay', 'Delhi', Decimal('2')),
 (' Taj Bay', 'Hyderabad', Decimal('2')),
 (' Taj Bay', 'Mumbai', Decimal('2')),
 (' Taj Blu', 'Bangalore', Decimal('2')),
 (' Taj Blu', 'Delhi', Decimal('2')),
 (' Taj Blu', 'Hyderabad', Decimal('2')),
 (' Taj Blu', 'Mumbai', Decimal('2')),
 (' Taj City', 'Bangalore', Decimal('2')),
 (' Taj City', 'Delhi', Decimal('2')),
 (' Taj City', 'Hyderabad', Decimal('2')),
 (' Taj City', 'Mumbai', Decimal('2')),
 (' Taj Exotica', 'Bangalore', Decimal('2')),
 (' Taj Exotica', 'Hyderabad', Decimal('2')),
 (' Taj Exotica', 'Mumbai', Decimal('2')),
 (' Taj Grands', 'Bangalore', Decimal('2')),
 (' Taj Grands', 'Delhi', Decimal('2')),
 (' Taj Grands', 'Hyderabad', Decimal('2')),
 (' Taj Grands', 'Mumbai', Decimal('2')),
 (' Taj Palace', 'Bangalore', Decimal('2')),
 (' Taj Palace', 'Delhi', Decimal('2')),
 (' Taj Palace', 'Hyderabad', Decimal('2')),
 (' Taj Palace', 'Mumbai', Decimal('2')),
 (' Taj Seasons', 'Mumbai', Decimal('2'))]

## Calculation of Avg Revenue per Platform

In [19]:
%%sql


WITH PlatformRevenue AS (
    SELECT 
        h.property_name,
        h.city,
        b.booking_platform,
        SUM(b.revenue_generated) AS total_revenue,
        AVG(SUM(b.revenue_generated)) OVER (PARTITION BY h.property_name, h.city) AS avg_revenue_per_platform
    FROM 
        fact_bookings b
    JOIN 
        dim_hotels h ON b.property_id = h.property_id
    GROUP BY 
        h.property_name, h.city, b.booking_platform
)
SELECT 
    property_name,
    city,
    booking_platform,
    total_revenue,
    ROUND(avg_revenue_per_platform,2) as avg_revenue_per_platform
FROM 
    PlatformRevenue
WHERE 
    total_revenue > avg_revenue_per_platform
ORDER BY 
    total_revenue DESC;

 * postgresql://postgres:***@localhost/Hospitality_Taj
48 rows affected.

[(' Taj Exotica', 'Mumbai', 'others', 100506635, Decimal('35485071.43')),
 (' Taj Exotica', 'Mumbai', 'makeyourtrip', 48848905, Decimal('35485071.43')),
 (' Taj Palace', 'Mumbai', 'others', 48188285, Decimal('16945247.86')),
 (' Taj Palace', 'Delhi', 'others', 43212680, Decimal('15028660.00')),
 (' Taj City', 'Mumbai', 'others', 42270415, Decimal('14825190.00')),
 (' Taj Bay', 'Bangalore', 'others', 40146075, Decimal('13791482.14')),
 (' Taj City', 'Bangalore', 'others', 40080900, Decimal('13926589.29')),
 (' Taj Grands', 'Mumbai', 'others', 35897965, Decimal('12632967.14')),
 (' Taj Blu', 'Mumbai', 'others', 35700595, Decimal('12378112.86')),
 (' Taj Blu', 'Bangalore', 'others', 34985475, Decimal('12258225.00')),
 (' Taj Palace', 'Bangalore', 'others', 34101150, Decimal('11563692.86')),
 (' Taj Bay', 'Hyderabad', 'others', 32903500, Decimal('11581000.00')),
 (' Taj Seasons', 'Mumbai', 'others', 32020520, Decimal('11095037.86')),
 (' Taj City', 'Hyderabad', 'others', 29631550, Decimal('10178071.43')),
 (' Taj Exotica', 'Bangalore', 'others', 28892475, Decimal('10038032.14')),
 (' Taj Blu', 'Delhi', 'others', 27834660, Decimal('9795490.00')),
 (' Taj Blu', 'Hyderabad', 'others', 27271000, Decimal('9373607.14')),
 (' Taj Bay', 'Delhi', 'others', 27135850, Decimal('9470410.00')),
 (' Taj Grands', 'Bangalore', 'others', 26036850, Decimal('9111717.86')),
 (' Taj City', 'Delhi', 'others', 25667180, Decimal('9162600.00')),
 (' Taj Palace', 'Mumbai', 'makeyourtrip', 24884175, Decimal('16945247.86')),
 (' Taj Bay', 'Mumbai', 'others', 24667850, Decimal('8761994.29')),
 (' Taj Palace', 'Hyderabad', 'others', 22507400, Decimal('7590471.43')),
 (' Taj Exotica', 'Hyderabad', 'others', 22106200, Decimal('8007071.43')),
 (' Taj Grands', 'Hyderabad', 'others', 21851950, Decimal('7755614.29')),
 (' Taj Palace', 'Delhi', 'makeyourtrip', 21617610, Decimal('15028660.00')),
 (' Taj City', 'Mumbai', 'makeyourtrip', 20721470, Decimal('14825190.00')),
 (' Taj Bay', 'Bangalore', 'makeyourtrip', 19741950, Decimal('13791482.14')),
 (' Taj Grands', 'Mumbai', 'makeyourtrip', 18692775, Decimal('12632967.14')),
 (' Taj City', 'Bangalore', 'makeyourtrip', 18289200, Decimal('13926589.29')),
 (' Taj Grands', 'Delhi', 'others', 17449460, Decimal('6035960.00')),
 (' Taj Blu', 'Mumbai', 'makeyourtrip', 17039015, Decimal('12378112.86')),
 (' Taj Bay', 'Hyderabad', 'makeyourtrip', 16543500, Decimal('11581000.00')),
 (' Taj Blu', 'Bangalore', 'makeyourtrip', 16391250, Decimal('12258225.00')),
 (' Taj Seasons', 'Mumbai', 'makeyourtrip', 15590615, Decimal('11095037.86')),
 (' Taj Palace', 'Bangalore', 'makeyourtrip', 15141525, Decimal('11563692.86')),
 (' Taj City', 'Hyderabad', 'makeyourtrip', 14337500, Decimal('10178071.43')),
 (' Taj Blu', 'Delhi', 'makeyourtrip', 14144480, Decimal('9795490.00')),
 (' Taj Exotica', 'Bangalore', 'makeyourtrip', 13880325, Decimal('10038032.14')),
 (' Taj Blu', 'Hyderabad', 'makeyourtrip', 13052950, Decimal('9373607.14')),
 (' Taj Grands', 'Bangalore', 'makeyourtrip', 12919875, Decimal('9111717.86')),
 (' Taj City', 'Delhi', 'makeyourtrip', 12819870, Decimal('9162600.00')),
 (' Taj Bay', 'Delhi', 'makeyourtrip', 12700030, Decimal('9470410.00')),
 (' Taj Bay', 'Mumbai', 'makeyourtrip', 12453350, Decimal('8761994.29')),
 (' Taj Grands', 'Hyderabad', 'makeyourtrip', 11571350, Decimal('7755614.29')),
 (' Taj Exotica', 'Hyderabad', 'makeyourtrip', 11195800, Decimal('8007071.43')),
 (' Taj Palace', 'Hyderabad', 'makeyourtrip', 10609800, Decimal('7590471.43')),
 (' Taj Grands', 'Delhi', 'makeyourtrip', 8314810, Decimal('6035960.00'))]

## Calculation of cumulative revenue generated by each hotel property over the time period

In [21]:
%%sql

SELECT 
    distinct h.property_name, 
    b.check_in_date, 
    SUM(b.revenue_generated) OVER (
        PARTITION BY h.property_name 
        ORDER BY b.check_in_date 
        ROWS BETWEEN UNBOUNDED PRECEDING AND UNBOUNDED FOLLOWING
    ) AS cumulative_revenue
FROM 
    fact_bookings b
JOIN 
    dim_hotels h ON b.property_id = h.property_id
ORDER BY 
    h.property_name, b.check_in_date;

 * postgresql://postgres:***@localhost/Hospitality_Taj
644 rows affected.

[(' Taj Bay', datetime.date(2022, 5, 1), 305234205),
 (' Taj Bay', datetime.date(2022, 5, 2), 305234205),
 (' Taj Bay', datetime.date(2022, 5, 3), 305234205),
 (' Taj Bay', datetime.date(2022, 5, 4), 305234205),
 (' Taj Bay', datetime.date(2022, 5, 5), 305234205),
 (' Taj Bay', datetime.date(2022, 5, 6), 305234205),
 (' Taj Bay', datetime.date(2022, 5, 7), 305234205),
 (' Taj Bay', datetime.date(2022, 5, 8), 305234205),
 (' Taj Bay', datetime.date(2022, 5, 9), 305234205),
 (' Taj Bay', datetime.date(2022, 5, 10), 305234205),
 (' Taj Bay', datetime.date(2022, 5, 11), 305234205),
 (' Taj Bay', datetime.date(2022, 5, 12), 305234205),
 (' Taj Bay', datetime.date(2022, 5, 13), 305234205),
 (' Taj Bay', datetime.date(2022, 5, 14), 305234205),
 (' Taj Bay', datetime.date(2022, 5, 15), 305234205),
 (' Taj Bay', datetime.date(2022, 5, 16), 305234205),
 (' Taj Bay', datetime.date(2022, 5, 17), 305234205),
 (' Taj Bay', datetime.date(2022, 5, 18), 305234205),
 (' Taj Bay', datetime.date(2022, 5, 19), 305234205),
 (' Taj Bay', datetime.date(2022, 5, 20), 305234205),
 (' Taj Bay', datetime.date(2022, 5, 21), 305234205),
 (' Taj Bay', datetime.date(2022, 5, 22), 305234205),
 (' Taj Bay', datetime.date(2022, 5, 23), 305234205),
 (' Taj Bay', datetime.date(2022, 5, 24), 305234205),
 (' Taj Bay', datetime.date(2022, 5, 25), 305234205),
 (' Taj Bay', datetime.date(2022, 5, 26), 305234205),
 (' Taj Bay', datetime.date(2022, 5, 27), 305234205),
 (' Taj Bay', datetime.date(2022, 5, 28), 305234205),
 (' Taj Bay', datetime.date(2022, 5, 29), 305234205),
 (' Taj Bay', datetime.date(2022, 5, 30), 305234205),
 (' Taj Bay', datetime.date(2022, 5, 31), 305234205),
 (' Taj Bay', datetime.date(2022, 6, 1), 305234205),
 (' Taj Bay', datetime.date(2022, 6, 2), 305234205),
 (' Taj Bay', datetime.date(2022, 6, 3), 305234205),
 (' Taj Bay', datetime.date(2022, 6, 4), 305234205),
 (' Taj Bay', datetime.date(2022, 6, 5), 305234205),
 (' Taj Bay', datetime.date(2022, 6, 6), 305234205),
 (' Taj Bay', datetime.date(2022, 6, 7), 305234205),
 (' Taj Bay', datetime.date(2022, 6, 8), 305234205),
 (' Taj Bay', datetime.date(2022, 6, 9), 305234205),
 (' Taj Bay', datetime.date(2022, 6, 10), 305234205),
 (' Taj Bay', datetime.date(2022, 6, 11), 305234205),
 (' Taj Bay', datetime.date(2022, 6, 12), 305234205),
 (' Taj Bay', datetime.date(2022, 6, 13), 305234205),
 (' Taj Bay', datetime.date(2022, 6, 14), 305234205),
 (' Taj Bay', datetime.date(2022, 6, 15), 305234205),
 (' Taj Bay', datetime.date(2022, 6, 16), 305234205),
 (' Taj Bay', datetime.date(2022, 6, 17), 305234205),
 (' Taj Bay', datetime.date(2022, 6, 18), 305234205),
 (' Taj Bay', datetime.date(2022, 6, 19), 305234205),
 (' Taj Bay', datetime.date(2022, 6, 20), 305234205),
 (' Taj Bay', datetime.date(2022, 6, 21), 305234205),
 (' Taj Bay', datetime.date(2022, 6, 22), 305234205),
 (' Taj Bay', datetime.date(2022, 6, 23), 305234205),
 (' Taj Bay', datetime.date(2022, 6, 24), 305234205),
 (' Taj Bay', datetime.date(2022, 6, 25), 305234205),
 (' Taj Bay', datetime.date(2022, 6, 26), 305234205),
 (' Taj Bay', datetime.date(2022, 6, 27), 305234205),
 (' Taj Bay', datetime.date(2022, 6, 28), 305234205),
 (' Taj Bay', datetime.date(2022, 6, 29), 305234205),
 (' Taj Bay', datetime.date(2022, 6, 30), 305234205),
 (' Taj Bay', datetime.date(2022, 7, 1), 305234205),
 (' Taj Bay', datetime.date(2022, 7, 2), 305234205),
 (' Taj Bay', datetime.date(2022, 7, 3), 305234205),
 (' Taj Bay', datetime.date(2022, 7, 4), 305234205),
 (' Taj Bay', datetime.date(2022, 7, 5), 305234205),
 (' Taj Bay', datetime.date(2022, 7, 6), 305234205),
 (' Taj Bay', datetime.date(2022, 7, 7), 305234205),
 (' Taj Bay', datetime.date(2022, 7, 8), 305234205),
 (' Taj Bay', datetime.date(2022, 7, 9), 305234205),
 (' Taj Bay', datetime.date(2022, 7, 10), 305234205),
 (' Taj Bay', datetime.date(2022, 7, 11), 305234205),
 (' Taj Bay', datetime.date(2022, 7, 12), 305234205),
 (' Taj Bay', datetime.date(2022, 7, 13), 305234205),
 (' Taj Bay', datetime.date(2022, 7, 14), 305234205),
 (' Taj Bay', datetime.date(2022, 7, 15), 305234205),
 (' Taj Bay', datetime.date(2022, 7, 16), 305234205),
 (' Taj Bay', datetime.date(2022, 7, 17), 305234205),
 (' Taj Bay', datetime.date(2022, 7, 18), 305234205),
 (' Taj Bay', datetime.date(2022, 7, 19), 305234205),
 (' Taj Bay', datetime.date(2022, 7, 20), 305234205),
 (' Taj Bay', datetime.date(2022, 7, 21), 305234205),
 (' Taj Bay', datetime.date(2022, 7, 22), 305234205),
 (' Taj Bay', datetime.date(2022, 7, 23), 305234205),
 (' Taj Bay', datetime.date(2022, 7, 24), 305234205),
 (' Taj Bay', datetime.date(2022, 7, 25), 305234205),
 (' Taj Bay', datetime.date(2022, 7, 26), 305234205),
 (' Taj Bay', datetime.date(2022, 7, 27), 305234205),
 (' Taj Bay', datetime.date(2022, 7, 28), 305234205),
 (' Taj Bay', datetime.date(2022, 7, 29), 305234205),
 (' Taj Bay', datetime.date(2022, 7, 30), 305234205),
 (' Taj Bay', datetime.date(2022, 7, 31), 305234205),
 (' Taj Blu', datetime.date(2022, 5, 1), 306638045),
 (' Taj Blu', datetime.date(2022, 5, 2), 306638045),
 (' Taj Blu', datetime.date(2022, 5, 3), 306638045),
 (' Taj Blu', datetime.date(2022, 5, 4), 306638045),
 (' Taj Blu', datetime.date(2022, 5, 5), 306638045),
 (' Taj Blu', datetime.date(2022, 5, 6), 306638045),
 (' Taj Blu', datetime.date(2022, 5, 7), 306638045),
 (' Taj Blu', datetime.date(2022, 5, 8), 306638045),
 (' Taj Blu', datetime.date(2022, 5, 9), 306638045),
 (' Taj Blu', datetime.date(2022, 5, 10), 306638045),
 (' Taj Blu', datetime.date(2022, 5, 11), 306638045),
 (' Taj Blu', datetime.date(2022, 5, 12), 306638045),
 (' Taj Blu', datetime.date(2022, 5, 13), 306638045),
 (' Taj Blu', datetime.date(2022, 5, 14), 306638045),
 (' Taj Blu', datetime.date(2022, 5, 15), 306638045),
 (' Taj Blu', datetime.date(2022, 5, 16), 306638045),
 (' Taj Blu', datetime.date(2022, 5, 17), 306638045),
 (' Taj Blu', datetime.date(2022, 5, 18), 306638045),
 (' Taj Blu', datetime.date(2022, 5, 19), 306638045),
 (' Taj Blu', datetime.date(2022, 5, 20), 306638045),
 (' Taj Blu', datetime.date(2022, 5, 21), 306638045),
 (' Taj Blu', datetime.date(2022, 5, 22), 306638045),
 (' Taj Blu', datetime.date(2022, 5, 23), 306638045),
 (' Taj Blu', datetime.date(2022, 5, 24), 306638045),
 (' Taj Blu', datetime.date(2022, 5, 25), 306638045),
 (' Taj Blu', datetime.date(2022, 5, 26), 306638045),
 (' Taj Blu', datetime.date(2022, 5, 27), 306638045),
 (' Taj Blu', datetime.date(2022, 5, 28), 306638045),
 (' Taj Blu', datetime.date(2022, 5, 29), 306638045),
 (' Taj Blu', datetime.date(2022, 5, 30), 306638045),
 (' Taj Blu', datetime.date(2022, 5, 31), 306638045),
 (' Taj Blu', datetime.date(2022, 6, 1), 306638045),
 (' Taj Blu', datetime.date(2022, 6, 2), 306638045),
 (' Taj Blu', datetime.date(2022, 6, 3), 306638045),
 (' Taj Blu', datetime.date(2022, 6, 4), 306638045),
 (' Taj Blu', datetime.date(2022, 6, 5), 306638045),
 (' Taj Blu', datetime.date(2022, 6, 6), 306638045),
 (' Taj Blu', datetime.date(2022, 6, 7), 306638045),
 (' Taj Blu', datetime.date(2022, 6, 8), 306638045),
 (' Taj Blu', datetime.date(2022, 6, 9), 306638045),
 (' Taj Blu', datetime.date(2022, 6, 10), 306638045),
 (' Taj Blu', datetime.date(2022, 6, 11), 306638045),
 (' Taj Blu', datetime.date(2022, 6, 12), 306638045),
 (' Taj Blu', datetime.date(2022, 6, 13), 306638045),
 (' Taj Blu', datetime.date(2022, 6, 14), 306638045),
 (' Taj Blu', datetime.date(2022, 6, 15), 306638045),
 (' Taj Blu', datetime.date(2022, 6, 16), 306638045),
 (' Taj Blu', datetime.date(2022, 6, 17), 306638045),
 (' Taj Blu', datetime.date(2022, 6, 18), 306638045),
 (' Taj Blu', datetime.date(2022, 6, 19), 306638045),
 (' Taj Blu', datetime.date(2022, 6, 20), 306638045),
 (' Taj Blu', datetime.date(2022, 6, 21), 306638045),
 (' Taj Blu', datetime.date(2022, 6, 22), 306638045),
 (' Taj Blu', datetime.date(2022, 6, 23), 306638045),
 (' Taj Blu', datetime.date(2022, 6, 24), 306638045),
 (' Taj Blu', datetime.date(2022, 6, 25), 306638045),
 (' Taj Blu', datetime.date(2022, 6, 26), 306638045),
 (' Taj Blu', datetime.date(2022, 6, 27), 306638045),
 (' Taj Blu', datetime.date(2022, 6, 28), 306638045),
 (' Taj Blu', datetime.date(2022, 6, 29), 306638045),
 (' Taj Blu', datetime.date(2022, 6, 30), 306638045),
 (' Taj Blu', datetime.date(2022, 7, 1), 306638045),
 (' Taj Blu', datetime.date(2022, 7, 2), 306638045),
 (' Taj Blu', datetime.date(2022, 7, 3), 306638045),
 (' Taj Blu', datetime.date(2022, 7, 4), 306638045),
 (' Taj Blu', datetime.date(2022, 7, 5), 306638045),
 (' Taj Blu', datetime.date(2022, 7, 6), 306638045),
 (' Taj Blu', datetime.date(2022, 7, 7), 306638045),
 (' Taj Blu', datetime.date(2022, 7, 8), 306638045),
 (' Taj Blu', datetime.date(2022, 7, 9), 306638045),
 (' Taj Blu', datetime.date(2022, 7, 10), 306638045),
 (' Taj Blu', datetime.date(2022, 7, 11), 306638045),
 (' Taj Blu', datetime.date(2022, 7, 12), 306638045),
 (' Taj Blu', datetime.date(2022, 7, 13), 306638045),
 (' Taj Blu', datetime.date(2022, 7, 14), 306638045),
 (' Taj Blu', datetime.date(2022, 7, 15), 306638045),
 (' Taj Blu', datetime.date(2022, 7, 16), 306638045),
 (' Taj Blu', datetime.date(2022, 7, 17), 306638045),
 (' Taj Blu', datetime.date(2022, 7, 18), 306638045),
 (' Taj Blu', datetime.date(2022, 7, 19), 306638045),
 (' Taj Blu', datetime.date(2022, 7, 20), 306638045),
 (' Taj Blu', datetime.date(2022, 7, 21), 306638045),
 (' Taj Blu', datetime.date(2022, 7, 22), 306638045),
 (' Taj Blu', datetime.date(2022, 7, 23), 306638045),
 (' Taj Blu', datetime.date(2022, 7, 24), 306638045),
 (' Taj Blu', datetime.date(2022, 7, 25), 306638045),
 (' Taj Blu', datetime.date(2022, 7, 26), 306638045),
 (' Taj Blu', datetime.date(2022, 7, 27), 306638045),
 (' Taj Blu', datetime.date(2022, 7, 28), 306638045),
 (' Taj Blu', datetime.date(2022, 7, 29), 306638045),
 (' Taj Blu', datetime.date(2022, 7, 30), 306638045),
 (' Taj Blu', datetime.date(2022, 7, 31), 306638045),
 (' Taj City', datetime.date(2022, 5, 1), 336647155),
 (' Taj City', datetime.date(2022, 5, 2), 336647155),
 (' Taj City', datetime.date(2022, 5, 3), 336647155),
 (' Taj City', datetime.date(2022, 5, 4), 336647155),
 (' Taj City', datetime.date(2022, 5, 5), 336647155),
 (' Taj City', datetime.date(2022, 5, 6), 336647155),
 (' Taj City', datetime.date(2022, 5, 7), 336647155),
 (' Taj City', datetime.date(2022, 5, 8), 336647155),
 (' Taj City', datetime.date(2022, 5, 9), 336647155),
 (' Taj City', datetime.date(2022, 5, 10), 336647155),
 (' Taj City', datetime.date(2022, 5, 11), 336647155),
 (' Taj City', datetime.date(2022, 5, 12), 336647155),
 (' Taj City', datetime.date(2022, 5, 13), 336647155),
 (' Taj City', datetime.date(2022, 5, 14), 336647155),
 (' Taj City', datetime.date(2022, 5, 15), 336647155),
 (' Taj City', datetime.date(2022, 5, 16), 336647155),
 (' Taj City', datetime.date(2022, 5, 17), 336647155),
 (' Taj City', datetime.date(2022, 5, 18), 336647155),
 (' Taj City', datetime.date(2022, 5, 19), 336647155),
 (' Taj City', datetime.date(2022, 5, 20), 336647155),
 (' Taj City', datetime.date(2022, 5, 21), 336647155),
 (' Taj City', datetime.date(2022, 5, 22), 336647155),
 (' Taj City', datetime.date(2022, 5, 23), 336647155),
 (' Taj City', datetime.date(2022, 5, 24), 336647155),
 (' Taj City', datetime.date(2022, 5, 25), 336647155),
 (' Taj City', datetime.date(2022, 5, 26), 336647155),
 (' Taj City', datetime.date(2022, 5, 27), 336647155),
 (' Taj City', datetime.date(2022, 5, 28), 336647155),
 (' Taj City', datetime.date(2022, 5, 29), 336647155),
 (' Taj City', datetime.date(2022, 5, 30), 336647155),
 (' Taj City', datetime.date(2022, 5, 31), 336647155),
 (' Taj City', datetime.date(2022, 6, 1), 336647155),
 (' Taj City', datetime.date(2022, 6, 2), 336647155),
 (' Taj City', datetime.date(2022, 6, 3), 336647155),
 (' Taj City', datetime.date(2022, 6, 4), 336647155),
 (' Taj City', datetime.date(2022, 6, 5), 336647155),
 (' Taj City', datetime.date(2022, 6, 6), 336647155),
 (' Taj City', datetime.date(2022, 6, 7), 336647155),
 (' Taj City', datetime.date(2022, 6, 8), 336647155),
 (' Taj City', datetime.date(2022, 6, 9), 336647155),
 (' Taj City', datetime.date(2022, 6, 10), 336647155),
 (' Taj City', datetime.date(2022, 6, 11), 336647155),
 (' Taj City', datetime.date(2022, 6, 12), 336647155),
 (' Taj City', datetime.date(2022, 6, 13), 336647155),
 (' Taj City', datetime.date(2022, 6, 14), 336647155),
 (' Taj City', datetime.date(2022, 6, 15), 336647155),
 (' Taj City', datetime.date(2022, 6, 16), 336647155),
 (' Taj City', datetime.date(2022, 6, 17), 336647155),
 (' Taj City', datetime.date(2022, 6, 18), 336647155),
 (' Taj City', datetime.date(2022, 6, 19), 336647155),
 (' Taj City', datetime.date(2022, 6, 20), 336647155),
 (' Taj City', datetime.date(2022, 6, 21), 336647155),
 (' Taj City', datetime.date(2022, 6, 22), 336647155),
 (' Taj City', datetime.date(2022, 6, 23), 336647155),
 (' Taj City', datetime.date(2022, 6, 24), 336647155),
 (' Taj City', datetime.date(2022, 6, 25), 336647155),
 (' Taj City', datetime.date(2022, 6, 26), 336647155),
 (' Taj City', datetime.date(2022, 6, 27), 336647155),
 (' Taj City', datetime.date(2022, 6, 28), 336647155),
 (' Taj City', datetime.date(2022, 6, 29), 336647155),
 (' Taj City', datetime.date(2022, 6, 30), 336647155),
 (' Taj City', datetime.date(2022, 7, 1), 336647155),
 (' Taj City', datetime.date(2022, 7, 2), 336647155),
 (' Taj City', datetime.date(2022, 7, 3), 336647155),
 (' Taj City', datetime.date(2022, 7, 4), 336647155),
 (' Taj City', datetime.date(2022, 7, 5), 336647155),
 (' Taj City', datetime.date(2022, 7, 6), 336647155),
 (' Taj City', datetime.date(2022, 7, 7), 336647155),
 (' Taj City', datetime.date(2022, 7, 8), 336647155),
 (' Taj City', datetime.date(2022, 7, 9), 336647155),
 (' Taj City', datetime.date(2022, 7, 10), 336647155),
 (' Taj City', datetime.date(2022, 7, 11), 336647155),
 (' Taj City', datetime.date(2022, 7, 12), 336647155),
 (' Taj City', datetime.date(2022, 7, 13), 336647155),
 (' Taj City', datetime.date(2022, 7, 14), 336647155),
 (' Taj City', datetime.date(2022, 7, 15), 336647155),
 (' Taj City', datetime.date(2022, 7, 16), 336647155),
 (' Taj City', datetime.date(2022, 7, 17), 336647155),
 (' Taj City', datetime.date(2022, 7, 18), 336647155),
 (' Taj City', datetime.date(2022, 7, 19), 336647155),
 (' Taj City', datetime.date(2022, 7, 20), 336647155),
 (' Taj City', datetime.date(2022, 7, 21), 336647155),
 (' Taj City', datetime.date(2022, 7, 22), 336647155),
 (' Taj City', datetime.date(2022, 7, 23), 336647155),
 (' Taj City', datetime.date(2022, 7, 24), 336647155),
 (' Taj City', datetime.date(2022, 7, 25), 336647155),
 (' Taj City', datetime.date(2022, 7, 26), 336647155),
 (' Taj City', datetime.date(2022, 7, 27), 336647155),
 (' Taj City', datetime.date(2022, 7, 28), 336647155),
 (' Taj City', datetime.date(2022, 7, 29), 336647155),
 (' Taj City', datetime.date(2022, 7, 30), 336647155),
 (' Taj City', datetime.date(2022, 7, 31), 336647155),
 (' Taj Exotica', datetime.date(2022, 5, 1), 374711225),
 (' Taj Exotica', datetime.date(2022, 5, 2), 374711225),
 (' Taj Exotica', datetime.date(2022, 5, 3), 374711225),
 (' Taj Exotica', datetime.date(2022, 5, 4), 374711225),
 (' Taj Exotica', datetime.date(2022, 5, 5), 374711225),
 (' Taj Exotica', datetime.date(2022, 5, 6), 374711225),
 (' Taj Exotica', datetime.date(2022, 5, 7), 374711225),
 (' Taj Exotica', datetime.date(2022, 5, 8), 374711225),
 (' Taj Exotica', datetime.date(2022, 5, 9), 374711225),
 (' Taj Exotica', datetime.date(2022, 5, 10), 374711225),
 (' Taj Exotica', datetime.date(2022, 5, 11), 374711225),
 (' Taj Exotica', datetime.date(2022, 5, 12), 374711225),
 (' Taj Exotica', datetime.date(2022, 5, 13), 374711225),
 (' Taj Exotica', datetime.date(2022, 5, 14), 374711225),
 (' Taj Exotica', datetime.date(2022, 5, 15), 374711225),
 (' Taj Exotica', datetime.date(2022, 5, 16), 374711225),
 (' Taj Exotica', datetime.date(2022, 5, 17), 374711225),
 (' Taj Exotica', datetime.date(2022, 5, 18), 374711225),
 (' Taj Exotica', datetime.date(2022, 5, 19), 374711225),
 (' Taj Exotica', datetime.date(2022, 5, 20), 374711225),
 (' Taj Exotica', datetime.date(2022, 5, 21), 374711225),
 (' Taj Exotica', datetime.date(2022, 5, 22), 374711225),
 (' Taj Exotica', datetime.date(2022, 5, 23), 374711225),
 (' Taj Exotica', datetime.date(2022, 5, 24), 374711225),
 (' Taj Exotica', datetime.date(2022, 5, 25), 374711225),
 (' Taj Exotica', datetime.date(2022, 5, 26), 374711225),
 (' Taj Exotica', datetime.date(2022, 5, 27), 374711225),
 (' Taj Exotica', datetime.date(2022, 5, 28), 374711225),
 (' Taj Exotica', datetime.date(2022, 5, 29), 374711225),
 (' Taj Exotica', datetime.date(2022, 5, 30), 374711225),
 (' Taj Exotica', datetime.date(2022, 5, 31), 374711225),
 (' Taj Exotica', datetime.date(2022, 6, 1), 374711225),
 (' Taj Exotica', datetime.date(2022, 6, 2), 374711225),
 (' Taj Exotica', datetime.date(2022, 6, 3), 374711225),
 (' Taj Exotica', datetime.date(2022, 6, 4), 374711225),
 (' Taj Exotica', datetime.date(2022, 6, 5), 374711225),
 (' Taj Exotica', datetime.date(2022, 6, 6), 374711225),
 (' Taj Exotica', datetime.date(2022, 6, 7), 374711225),
 (' Taj Exotica', datetime.date(2022, 6, 8), 374711225),
 (' Taj Exotica', datetime.date(2022, 6, 9), 374711225),
 (' Taj Exotica', datetime.date(2022, 6, 10), 374711225),
 (' Taj Exotica', datetime.date(2022, 6, 11), 374711225),
 (' Taj Exotica', datetime.date(2022, 6, 12), 374711225),
 (' Taj Exotica', datetime.date(2022, 6, 13), 374711225),
 (' Taj Exotica', datetime.date(2022, 6, 14), 374711225),
 (' Taj Exotica', datetime.date(2022, 6, 15), 374711225),
 (' Taj Exotica', datetime.date(2022, 6, 16), 374711225),
 (' Taj Exotica', datetime.date(2022, 6, 17), 374711225),
 (' Taj Exotica', datetime.date(2022, 6, 18), 374711225),
 (' Taj Exotica', datetime.date(2022, 6, 19), 374711225),
 (' Taj Exotica', datetime.date(2022, 6, 20), 374711225),
 (' Taj Exotica', datetime.date(2022, 6, 21), 374711225),
 (' Taj Exotica', datetime.date(2022, 6, 22), 374711225),
 (' Taj Exotica', datetime.date(2022, 6, 23), 374711225),
 (' Taj Exotica', datetime.date(2022, 6, 24), 374711225),
 (' Taj Exotica', datetime.date(2022, 6, 25), 374711225),
 (' Taj Exotica', datetime.date(2022, 6, 26), 374711225),
 (' Taj Exotica', datetime.date(2022, 6, 27), 374711225),
 (' Taj Exotica', datetime.date(2022, 6, 28), 374711225),
 (' Taj Exotica', datetime.date(2022, 6, 29), 374711225),
 (' Taj Exotica', datetime.date(2022, 6, 30), 374711225),
 (' Taj Exotica', datetime.date(2022, 7, 1), 374711225),
 (' Taj Exotica', datetime.date(2022, 7, 2), 374711225),
 (' Taj Exotica', datetime.date(2022, 7, 3), 374711225),
 (' Taj Exotica', datetime.date(2022, 7, 4), 374711225),
 (' Taj Exotica', datetime.date(2022, 7, 5), 374711225),
 (' Taj Exotica', datetime.date(2022, 7, 6), 374711225),
 (' Taj Exotica', datetime.date(2022, 7, 7), 374711225),
 (' Taj Exotica', datetime.date(2022, 7, 8), 374711225),
 (' Taj Exotica', datetime.date(2022, 7, 9), 374711225),
 (' Taj Exotica', datetime.date(2022, 7, 10), 374711225),
 (' Taj Exotica', datetime.date(2022, 7, 11), 374711225),
 (' Taj Exotica', datetime.date(2022, 7, 12), 374711225),
 (' Taj Exotica', datetime.date(2022, 7, 13), 374711225),
 (' Taj Exotica', datetime.date(2022, 7, 14), 374711225),
 (' Taj Exotica', datetime.date(2022, 7, 15), 374711225),
 (' Taj Exotica', datetime.date(2022, 7, 16), 374711225),
 (' Taj Exotica', datetime.date(2022, 7, 17), 374711225),
 (' Taj Exotica', datetime.date(2022, 7, 18), 374711225),
 (' Taj Exotica', datetime.date(2022, 7, 19), 374711225),
 (' Taj Exotica', datetime.date(2022, 7, 20), 374711225),
 (' Taj Exotica', datetime.date(2022, 7, 21), 374711225),
 (' Taj Exotica', datetime.date(2022, 7, 22), 374711225),
 (' Taj Exotica', datetime.date(2022, 7, 23), 374711225),
 (' Taj Exotica', datetime.date(2022, 7, 24), 374711225),
 (' Taj Exotica', datetime.date(2022, 7, 25), 374711225),
 (' Taj Exotica', datetime.date(2022, 7, 26), 374711225),
 (' Taj Exotica', datetime.date(2022, 7, 27), 374711225),

## Month and place (city) where a hotel has the highest stay duration

In [13]:
%%sql

CREATE OR REPLACE FUNCTION calculate_stay_duration(check_in DATE, check_out DATE)
RETURNS INT AS $$
BEGIN
    RETURN check_out - check_in;
END;
$$ LANGUAGE plpgsql;
WITH StayDurations AS (
    SELECT 
        h.property_name,
        h.city,
        b.check_in_date,
        b.check_out_date,
        calculate_stay_duration(b.check_in_date, b.check_out_date) AS stay_duration,
        TO_CHAR(b.check_in_date, 'Mon YYYY') AS month_year
    FROM 
        fact_bookings b
    JOIN 
        dim_hotels h ON b.property_id = h.property_id
    WHERE 
        b.booking_status = 'Checked Out'
)
SELECT 
    month_year,
    city,
    property_name,
    MAX(stay_duration) AS max_stay_duration
FROM 
    StayDurations
GROUP BY 
    month_year, city, property_name
ORDER BY 
    max_stay_duration DESC
LIMIT 5;

 * postgresql://postgres:***@localhost/Hospitality_Taj
Done.
5 rows affected.

[('Jun 2022', 'Delhi', ' Taj Blu', 6),
 ('May 2022', 'Hyderabad', ' Taj Blu', 6),
 ('Jul 2022', 'Delhi', ' Taj Grands', 6),
 ('Jun 2022', 'Mumbai', ' Taj Grands', 6),
 ('May 2022', 'Hyderabad', ' Taj Palace', 6)]

# Insights

## Total Revenue Generated per Hotel:
Taj Exotica generates the highest revenue, followed closely by Taj Palace and Taj City.
Taj Seasons has the lowest revenue among the hotels listed.

## Total Revenue Generated per City:
Mumbai generates the highest revenue, indicating a strong market for the hotel industry in this city.
Bangalore and Hyderabad follow, with Delhi generating the least revenue among the cities listed.

## Total Bookings per Hotel and City:
Mumbai has the highest total bookings, indicating a high demand for hotel accommodations.
Taj Exotica in Mumbai and Taj Bay in Hyderabad have the highest individual bookings.
The total bookings for each city reflect the revenue generation trends.

## Realization Percentage per Hotel:
Taj City in Hyderabad and Delhi have the highest realization percentages.
Taj Seasons in Mumbai has a comparatively lower realization percentage.

## Cancellation Percentage per Hotel:
Taj Palace has the highest cancellation percentage.
Taj Exotica has the lowest cancellation percentage, indicating more reliable bookings.

## No Show Rate Percentage per Hotel:
Taj Blu has the highest no-show rate.
Taj Seasons has the lowest no-show rate, indicating better reliability of guests.

## Average Guests per Successful Booking:
The average number of guests per successful booking is consistent across all hotels and cities, with an average of 2 guests per booking.

## Average Revenue per Platform:
The "others" booking platform generates the highest revenue for Taj Exotica in Mumbai.
The "makeyourtrip" platform generates significant revenue but generally less than "others."

## Cumulative Revenue over Time:
Taj Bay and Taj Blu show consistent cumulative revenue generation over time.
Taj City also shows consistent cumulative revenue but starts at a higher base, indicating a strong initial performance.

# Conclusions

### Mumbai is the Most Lucrative Market:
The high revenue and booking numbers indicate Mumbai as a prime market for hotel business.

### Consistency in Bookings and Revenue:
Hotels like Taj Exotica and Taj Palace consistently generate high revenue, indicating strong brand presence and customer loyalty.

### Platform Performance: 
The "others" booking platform outperforms "makeyourtrip," suggesting a preference or higher commissions from these platforms.

### High Cancellation Rates at Some Hotels:
High cancellation rates at hotels like Taj Palace indicate potential issues with booking policies or customer satisfaction.